@charset "utf-8";
.wrap{
  text-align: center;
  margin-top: 30px;
  .freeList,.shoppingCar{
    color: rgb(120, 122, 118);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: bold;
    &:hover{
      color: rgb(154, 35, 35);
      text-decoration: underline;
    }
  }
}
