@charset "utf-8";
$colorTotal : #000;
$fontSize : 14px;
*{
    margin:0;
    padding:0;
    list-style: none;
}
a{
  text-decoration: none;
}
html,body{
  height: 100%;
}
body{
  background: #f3f3f3
}
#root{
  color:$colorTotal;font-size:$fontSize;
  #app{
     padding-top: 30px;
    h2{
       text-align: center;
       .title{
         color: rgb(239, 243, 244);
         display: inline-block;
         background-color: rgb(80, 78,79);
         padding: 10px;

       }
    }
  }
}
